body{
  background-image: url(../images/bg.jpg);
  color: white;
}
.TT{
  display: flex;
}
.left{
  padding-left: 4%;
}
.right{
  padding-left: 25%;
  display: inline;
  float: right;
}
.code{
  float: right;
  margin-top: -4%;
  padding: 14px 26px;
}
.code a{
  text-decoration: none;
  color: white;
  padding: 15px 20px;
}
.hh1{
  font-size: 20px;
  border: 2px solid orange ;
}
h1{
  text-align: center;
  font-size: 60px;
  padding-top: 10%;
}
.code2{
  background-color: white;
  color: black;
  height: 500px;
  padding: 30px 60px;
}
.pic{
  padding-left: 50%;
  top: -70%;
  position: relative;
}
.code4{
  background-image: url(../images/cont.jpg);
  height: 1500px;
  margin-top: -12%;
}
.bg{
    background-color:white;
    height: 1100px;
    margin-top: -1400px;
    padding-left: 70px; 
    width: 70%;
    padding: 60px 100px;  
    margin-left: 80px;
}
.yy{
    color: black;
    font-size: 18px;
}
.line1{
    color: black;
    font-size: 29px;
}
.hh6{
    color: black;
    font-size: 18px;
    margin-top: 4%;
}
.hh7{
    color: black;
}
.social i{
    color: black;
    position: relative;
    display: inline-block;
    height: 15px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 4px;
    padding: 10px 15px;
    left: 650px;
    bottom: 300px;

}
.fa{
    display: flex;
}
.fa:hover{
    color: orange;
}
.code5{
    float: right;
    position: relative;
    margin-top: -30%;
    padding: 20px 190px;
    left: 150px;
    
}
.send{
    color: black;
    background-color: orange;
    border-radius: 6px;
    padding: 18px 66px;
    margin-top: -70px;
    margin-left: 700px;
    cursor: pointer;
}
.send:hover{
    background-color: orangered;
}
.TOP{
  color: black;
    background-color: orange;
    border-radius: 6px;
    padding: 18px 66px;
    margin-top: -70px;
    margin-left: 700px;
    cursor: pointer;
}
.aa{
    position: relative;
    height: 32px;
    width: 400px;
    border-radius: 3px;
    left: 90px;
}
.aa1{
    position: relative;
    height: 32px;
    width: 400px;
    border-radius: 3px;
    left: 90px;
}
.aa2{
    position: relative;
    height: 32px;
    width: 400px;
    border-radius: 3px;
    left: 90px;
}
.last{
    background-color: white;
    margin-top: 96%;
    height: 20px;
    padding: 40px 40px;
    color: black;
}